


$default: #333333;

%robotoslab-regular{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
%roboto-regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


// %nunito-regular{
//     font-family: 'Nunito Sans', sans-serif;
//     font-weight: 400;
// }
// %nunito-semibold{
//     font-family: 'Nunito Sans', sans-serif;
//     font-weight: 600;
// }
// %nunito-bold{
//     font-family: 'Nunito Sans', sans-serif;
//     font-weight: 700;
// }
// %nunito-extrabold{
//     font-family: 'Nunito Sans', sans-serif;
//     font-weight: 800;
// }
// %nunito-black{
//     font-family: 'Nunito Sans', sans-serif;
//     font-weight: 900;
// }

// $rose: #FFCCBC;
// $default: #333333;
// %sf-light{
//     font-family: 'SFProDisplay-Light', sans-serif;
//     font-weight: 300;
// }

// %sf-medium{
//     font-family: 'SFProDisplay-Medium', sans-serif;
//     font-weight: 500;
// }
