@import './reset';
@import './vars';
@import './global';


.header{
   &__inner{
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-align: center;
       padding: 26px 0;
   }
   &__logo{
       font-size: 27px;
       line-height: 22px;
       font-weight: 400;
       @extend %robotoslab-regular;
   }
   &__responsive-btn{
       display: none;
   }
   &__menu{
       font-size: 15px;
       margin-left: auto;
   }
   &__menu-item{
       padding: 0 17px;
   }
   &__menu-btn{
       font-size: 16px;
       border: none;
       background-color: transparent;
       cursor: pointer;
       padding-left: 17px;
   }
    
}
.top{
    background-image: url('../images/bg/top-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 70px 0;
    }
    &__content{
        max-width: 480px;
        color: #fff;
    }
    &__title{
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 21px;
        font-weight: 400;
    }
    &__text{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 25px;
        max-width: 425px;
    }
    &__btn-sign{
        border: none;
        background-color: #000;
        padding: 13px 23px;
        color: #fff;
        border-radius: 3px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-right: 37px;
        cursor: pointer;
    }
    &__btn-learn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
.press{
    background-color: #3E5C50;
    &__inner{
        padding: 28px 0 52px 0;
    }
    &__title{
        color: rgba(255, 255, 255, 0.31);
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
    }
    &__items{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
.product{
    &__rightside{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 111px 12px 0 0;
        
        
    }
    &__rightside-item{
        padding-right: 8px;
    }
    &__title{
        margin-top: -64px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 29px;
        line-height: 36px;
        font-weight: 400;
    }
    &__subtitle{
        text-align: center;
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 68px;
    }
    &__item{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 15px;

    }
    &__item:last-child{
        margin-top: 70px;
        margin-bottom: 74px;
    }
    &__img{
        padding-right: 20px;
    }
    &__info{
        max-width: 460px;
        padding-right: 40px;
    }
    &__info-icon{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    &__info-title{
        margin-bottom: 17px;
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
    }
    &__info-text{
        font-size: 15px;
    }
    
}
.plans{
    background-color: #DDE7ED;
    padding-bottom: 71px;
    &__title{
        padding-top: 70px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 29px;
        line-height: 36px;
        font-weight: 400;
    }
    &__subtitle{
        text-align: center;
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 68px;
    }
    &__content{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    &__item{
        background-color: #fff;
        padding: 17px;
        margin-bottom: 20px;
    }
    &__item-title{
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 18px;
    }
    &__item-text{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 12px;
        span{
            color: #489FD9;
            font-size: 19px;
        }
    }
    &__item-line{
       
        height: 1px;
        width: 93px;
        background-color: #DBDBDB;
        margin-bottom: 12px;
    }
    &__item-greytext{
        font-size: 14px;
        color: #C7C5C5;
        margin-bottom: 12px;
    }
    &__item-btn{
       
        
        border: none;
        background-color: #000;
        color: #fff;
        padding: 9px 45px 11px 45px;
        cursor: pointer;
        font-size: 16px;
        
    }
    &__more{
        text-align: center;
        a{
            color: #489FD9;
        }
    }
}
.review{
    padding: 70px 0;
    &__content{
        text-align: center;
        max-width: 752px;
        margin: 0 auto;
    }
    &__title{
        margin-bottom: 45px;
        
        font-size: 29px;
        line-height: 36px;
        font-weight: 400;
        
    }
    &__text{
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 22px;
    }
    &__img{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
.partners{
    background-color: #A1BFD4;
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.footer{
    &__wrapper{
        background-color: #2B2C2E;
        padding: 42px 0;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__content{
        color: #939596;
        padding-right: 150px;
    }
    &__title{
        @extend %robotoslab-regular;
        font-size: 27px;
        line-height: 22px;
        color: #E6EAED;
        margin-bottom: 25px;
    }
    &__text{
        font-size: 15px;
        margin-bottom: 12px;
    }
    &__form{
        margin-bottom: 25px;
    }
    &__form-input{
        background-color: #E8E8E8;
        width: 193px;
        height: 40px;
        border: none;
        
    }
    &__form-btn{
        border: none;
        width: 129px;
        height: 40px;
        background-color: #5F6166;
        color: #fff;
        cursor: pointer;
        margin-left: -4px;
        font-size: 14px;
        line-height: 22px;
    }
    &__social{
        display: flex;
        align-items: center;
    }
    &__social-item{
        padding-right: 11px;
    }
    &__info-box{
        display: flex;
    }
    &__info{
        padding: 0 20px;
    }
    &__info-title{
        color: #E4E8EB;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 400;
        @extend %robotocondensed-regular;
        margin-bottom: 11px;
    }
    &__info-item{
        color: #939596;
        margin-bottom: 2px;
        font-size: 15px;
    }




    &__copy{
        padding: 20px 0;
        background-color: #1C1D1F;
        color: #939596;
        font-size: 13px;
        line-height: 22px;
    }
}




@import './fonts';
@import './media';